html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow: hidden;
  color: #fff;
}

.site {
  width: 600px;
  margin: 20px auto 0;
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 50px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

a {
  font-family: 'Helvetica', Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

#heptagon {
  background: #F22613;
	margin: 0 auto;
  width: 200px;
  height: 200px;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: colours;
  -webkit-animation-timing-function: ease;
}

#heptagon:hover {
  -webkit-clip-path: polygon(73% 0, 66% 23%, 69% 37%, 89% 100%, 47% 57%, 1% 100%, 34% 26%);
  clip-path: polygon(73% 0, 66% 23%, 69% 37%, 89% 100%, 47% 57%, 1% 100%, 34% 26%);
}


@-webkit-keyframes colours {
    0% {background: #F22613;}
   10% {background: #F64747;}
   20% {background: #BF55EC;}
   30% {background: #8E44AD;}
   40% {background: #4183D7;}
   50% {background: #19B5FE;}
   60% {background: #4ECDC4;}
   70% {background: #2ABB9B;}
   80% {background: #F5D76E;}
   90% {background: #F2784B;}
  100% {background: #F22613;}
}

@media  (max-width: 600px) {
  .site {
    width: 100%;
  }
}

/* Running man */

.running-man {
  position: absolute;
  z-index: 5;
  top: 130px;
  left: -150px;
  height: 240px;
  width: 210px;
  -webkit-animation: move 20s 1;
     -moz-animation: move 20s 1;
       -o-animation: move 20s 1;
}

@-webkit-keyframes move {
  0% {left: -150px;}
  /*50% {-webkit-transform: rotate(50deg);}*/
  100% {left: 2000px}
}

@-moz-keyframes move {
  0% {-moz-transform: rotate(-40deg);}
  50% {-moz-transform: rotate(50deg);}
  100% {-moz-transform: rotate(-40deg);}
}

@-o-keyframes move {
  0% {-o-transform: rotate(-40deg);}
  50% {-o-transform: rotate(50deg);}
  100% {-o-transform: rotate(-40deg);}
}

/* Head */

.running-man .head {
  background-color: #000;
  position: absolute;
  border-radius: 100%;
  width: 12%;
  height: 12%;
  top: 11%;
  left: 54%;
}

/* Body */

.running-man .body {
  background-color: #000;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 50%;
  height: 27%;
  width: 10%;
  border-radius: 50% 50% 20% 20%;
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
       -o-transform: rotate(10deg);
}

/* Left arm */

.running-man .left-arm {
  background: #000;
  position: absolute;
  top: 23%;
  left: 55%;
  height: 25px;
  width: 5px;
  border-radius: 50%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: leftarm 1s infinite;
  -webkit-transform-origin:0% 0%;
  -moz-transform: rotate(-40deg);
  -moz-animation: leftarm 1s infinite;
  -moz-transform-origin:0% 0%;
  -o-transform: rotate(-40deg);
  -o-animation: leftarm 1s infinite;
  -o-transform-origin:0% 0%;
  z-index: 1;
}

.running-man .left-arm:before {
  content: '';
  background: #000;
  position: absolute;
  top: 80%;
  left: 120%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  -webkit-transform: rotate(-40deg);
     -moz-transform: rotate(-40deg);
       -o-transform: rotate(-40deg);
}

.running-man .left-arm:after {
  content: '';
  background: #000;
  position: absolute;
  top:140%;
  left: 220%;
  height: 20%;
  width: 80%;
  border-radius: 50%;
}

@-webkit-keyframes leftarm {
  0% {-webkit-transform: rotate(-40deg);}
  50% {-webkit-transform: rotate(50deg);}
  100% {-webkit-transform: rotate(-40deg);}
}

@-moz-keyframes leftarm {
  0% {-moz-transform: rotate(-40deg);}
  50% {-moz-transform: rotate(50deg);}
  100% {-moz-transform: rotate(-40deg);}
}

@-o-keyframes leftarm {
  0% {-o-transform: rotate(-40deg);}
  50% {-o-transform: rotate(50deg);}
  100% {-o-transform: rotate(-40deg);}
}

/* Right arm */

.running-man .right-arm {
  background: #000;
  position: absolute;
  top: 23%;
  left: 55%;
  height: 25px;
  width: 5px;
  border-radius: 50%;
  -webkit-animation: rightarm 1s infinite;
  -webkit-transform-origin:0% 0%;
  -moz-animation: rightarm 1s infinite;
  -moz-transform-origin:0% 0%;
  -o-animation: rightarm 1s infinite;
  -o-transform-origin:0% 0%;
  z-index: 3;
}

.running-man .right-arm:before {
  content: '';
  background: #000;
  position:
  absolute;
  top: 80%;
  left: 120%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  -webkit-transform: rotate(-40deg);
     -moz-transform: rotate(-40deg);
       -o-transform: rotate(-40deg);
}

.running-man .right-arm:after {
  content: '';
  background: #000;
  position: absolute;
  top:140%;
  left: 220%;
  height: 20%;
  width: 80%;
  border-radius: 50%;
}

@-webkit-keyframes rightarm {
  0% {-webkit-transform: rotate(50deg);}
  50% {-webkit-transform: rotate(-40deg);}
  100% {-webkit-transform: rotate(50deg);}
}

@-moz-keyframes rightarm {
  0% {-moz-transform: rotate(50deg);}
  50% {-moz-transform: rotate(-40deg);}
  100% {-moz-transform: rotate(50deg);}
}

@-o-keyframes rightarm {
  0% {-o-transform: rotate(50deg);}
  50% {-o-transform: rotate(-40deg);}
  100% {-o-transform: rotate(50deg);}
}

/* Left leg */

.running-man .left-leg {
  background: #000;
  position: absolute;
  top: 95%;
  left: 48%;
  height: 25px;
  width: 5px;
  border-radius: 30% 10% 50% 50%;
  -webkit-transform-origin:5% 5%;
  -webkit-transform: rotate(0deg);
  -webkit-animation: leftleg 1s infinite;
  -moz-transform-origin:5% 5%;
  -moz-transform: rotate(0deg);
  -moz-animation: leftleg 1s infinite;
  -o-transform-origin:5% 5%;
  -o-transform: rotate(0deg);
  -o-animation: leftleg 1s infinite;
  z-index: 1;
}

.running-man .left-leg:before {
  content: '';
  background: #000;
  position: absolute;
  top: 89%;
  left: 10%;
  height: 82%;
  width: 70%;
  border-radius: 30% 10% 50% 50%;
}

.running-man .left-leg:after {
  content: '';
  background: #000;
  position: absolute;
  top: 159%;
  left: 85%;
  height: 3px;
  width: 9px;
  border-radius: 30% 10% 50% 50%;
}

@-webkit-keyframes leftleg {
  0% {-webkit-transform: rotate(-40deg);}
  50% {-webkit-transform: rotate(50deg);}
  100% {-webkit-transform: rotate(-40deg);}
}

@-moz-keyframes leftleg {
  0% {-moz-transform: rotate(-40deg);}
  50% {-moz-transform: rotate(50deg);}
  100% {-moz-transform: rotate(-40deg);}
}

@-o-keyframes leftleg {
  0% {-o-transform: rotate(-40deg);}
  50% {-o-transform: rotate(50deg);}
  100% {-o-transform: rotate(-40deg);}
}


/* Right leg */

.running-man .right-leg {
  background: #000;
  position: absolute;
  top: 95%;
  left: 48%;
  height: 25px;
  width: 5px;
  border-radius: 30% 10% 50% 50%;
  -webkit-transform-origin:5% 5%;
  -webkit-transform: rotate(0deg);
  -webkit-animation: rightleg 1s infinite;
  -moz-transform-origin:5% 5%;
  -moz-transform: rotate(0deg);
  -moz-animation: rightleg 1s infinite;
  -o-transform-origin:5% 5%;
  -o-transform: rotate(0deg);
  -o-animation: rightleg 1s infinite;
  z-index: 1;
}

.running-man .right-leg:before {
  content: '';
  background: #000;
  position: absolute;
  top: 89%;
  left: 10%;
  height: 82%;
  width: 70%;
  border-radius: 30% 10% 50% 50%;
}

.running-man .right-leg:after {
  content: '';
  background: #000;
  position: absolute;
  top: 159%;
  left: 85%;
  height: 3px;
  width: 9px;
  border-radius: 30% 10% 50% 50%;
}

@-webkit-keyframes rightleg {
  0% {-webkit-transform: rotate(50deg);}
  50% {-webkit-transform: rotate(-40deg);}
  100% {-webkit-transform: rotate(50deg);}
}

@-moz-keyframes rightleg {
  0% {-moz-transform: rotate(50deg);}
  50% {-moz-transform: rotate(-40deg);}
  100% {-moz-transform: rotate(50deg);}
}

@-o-keyframes rightleg {
  0% {-o-transform: rotate(50deg);}
  50% {-o-transform: rotate(-40deg);}
  100% {-o-transform: rotate(50deg);}
}
